{% extends "main/header.html" %}

{% block content %}
    <div class="row">
        {% for stud in students %}
            <div class="col s12 m6 l4">
                <div class="card grey lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ stud.page_title }}</span>
                        <p style="font-size:70%">{{ stud.page_content|safe }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/" class="black-text text-lighten-2">Visit this</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %} 
