{% extends "main/header.html" %}



{% block content %}
    <div class="wrapper">
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <form method="GET" action=".">
                <div class="row">
                    <form class="col">
                        <li>
                            <div class="input-field col s12">
                           <textarea id="icon_prefix2" class="materialize-textarea" name="text-unique"></textarea>
                            <label for="icon_prefix2">Name</label>
                            </div>
                        </li>
                        <li>
                            <div class="input-field col s12 ">
                                <select name="select-box1">
                                    <option value="---" selected disabled>---</option>
                                    <option value="2020">Fourth/Second</option>
                                    <option value="2021">Third/First</option>
                                    <option value="2022">Second</option>
                                    <option value="2023">First</option>
                                    <option value="2024" disabled>First/Part</option>
                                </select>
                                <label class="blue-text">Graduation Year</label>
                            </div>
                        </li>
                        <li>
                            <div class="input-field col s12" >
                                <select name="select-box2">
                                {% for fac in faculties %}
                                    <option value="{{ fac }}" {% if loop.first %} selected {% endif %} align >{{ fac }}</option>
                                {% endfor %}
                                </select>
                                <label class="blue-text">Faculty</label>
                            </div>
                        </li>
                        <li>
                            <div class="input-field col s12 ">
                                <select name="select-box3">
                                    <option value="---" selected disabled>---</option>
                                    <option value="bh">Bachelor</option>
                                    <option value="ma">Master</option>
                                </select>
                                <label class="blue-text">Education Level</label>
                            </div>
                        </li>
                        <li>
                            <div class="input-field col center-align s12">
                                <button type="submit" class="btn blue">Search</button> 
                        </li>
                    </form>
                </div>
            </form>
            
        </ul> 
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
    </div>
    <style type="text/css">
    .sidenav {
        margin-top: 65px;
        width: 250px;
    }
    </style>
    <div class="container">
        <div class="row">
            {% for stud in students %}
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content large indigo lighten-2 white-text">
                            <span class="card-title" style="font-size: 1.2rem">{{ stud.page_name }}</span>
                            <p style="font-size: 0.9rem">{{ stud.page_birth }}</p>
                            <p style="font-size: 0.9rem">{{ stud.page_specialty }}</p>
                            <p style="font-size: 0.9rem">{{ stud.page_eduLevel }}</p>
                        </div>
                        <a href="create/{{ stud.page_id }}" class="waves-effect waves-block">
                            <div class="card-action waves-block ali">
                                Make document
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %} 
